@charset "utf-8";div.error .main{height:220px;padding:80px 0 0 400px;background:url(../images/error.jpg) 0 0 no-repeat}
div.error .main dt{line-height:40px;color:#202020;font-size:20px;font-weight:bold}
div.error .main dd{line-height:26px}
