@font-face{
	font-family: 'Bell MT';
	src: url('../font/bell_mt/bell_mt.eot');
	src: url('../font/bell_mt/bell_mt.eot?#iefix') format('embedded-opentype'),
		url('../font/bell_mt/bell_mt.svg#Bell MT') format('svg'),
		url('../font/bell_mt/bell_mt.woff') format('woff'),
		url('../font/bell_mt/bell_mt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Bell MT italic';
    src: url('../font/bell_mt/bell_mt_italic-webfont.eot');
    src: url('../font/bell_mt/bell_mt_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bell_mt/bell_mt_italic-webfont.woff') format('woff'),
         url('../font/bell_mt/bell_mt_italic-webfont.ttf') format('truetype'),
         url('../font/bell_mt/bell_mt_italic-webfont.svg#bell_mtitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lekton';
    src: url('../font/lekton/lekton-regular-webfont.eot');
    src: url('../font/lekton/lekton-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lekton/lekton-regular-webfont.woff') format('woff'),
         url('../font/lekton/lekton-regular-webfont.ttf') format('truetype'),
         url('../font/lekton/lekton-regular-webfont.svg#lektonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  min-width: 960px;
  max-width: 1690px;
  font-family: 'Lekton', "\9ED1\4F53", "微軟正黑體", sans-serif;
  margin: 0px;
}
img { border:none }
a { text-decoration: none; color: black; outline: none }
ul,li {
	list-style-type: none;
}
span.brand {
	display: block;
}
span.productname {
	font-size:12px;
	display: block;
	margin-top: 25px;
}
span.productid {
	font-size:10px;
	display: block;
}
span.price {
	font-size:13px;
	display: block;
	margin-top: 15px;
}
.productImage {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	width: 500px;
}
.medium {
	margin-bottom: 50px;
}
.addCart {
	display: inline-block;
	padding: .5em 1.5em .55em;
	outline: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: ".5em";
	-moz-border-radius: ".5em";
	border-radius: ".5em";
	border: 0;
	background-color: black;
	cursor: pointer;
	font-size: 11px;
	height: 38px;
	margin: 5px 6px 20px 0;
	text-transform: uppercase;
	color: white;
	width: 200px;
}
.right {
	position: fixed;
	margin-left: 550px;
	margin-top: 100px;
}
.right .name{
	font-size: 12px;
}
.right .sn{
	font-size: 10px;
}
.right .info{
	margin-top: 10px;
	font-size: 13px;
}
.right .info2{
	font-size: 11px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.size-btn {
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	border: 1px solid #444;
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0 20px 20px 0;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	zoom: 1;
	width: 169px;
}
.selected-size {
	font-size: 11px;
}
.colors {
	margin-bottom: 35px;
	min-height: 110px;
	max-width: 300px;
	width: 42px;
}
.colors img {
	background: none repeat scroll 0 center transparent;
	border: 1px solid transparent;
	display: block;
	margin: 0 auto 5px;
	padding: 4px;
	width: 32px;
}
.topNavDiv {
	width: 550px;
	float: right;
	/*margin-right: 10px;*/
	overflow: hidden;
}
.topNav {
	list-style-type: none;
	float: right;
	/*margin-right:40px;*/
	position: fixed;
	z-index: 1;
}
.headerLine {
	line-height: 30px;
	float: left;
	margin-right: 10px;
	font-size: 12px;
}
.search {
	border: 1px solid #000;
	height: 15px;
	padding: 4px 3px 0;
	width: 100px;
	margin-right: -30px;
	background: transparent;
	font: 11px helvetica,arial,clean,sans-serif;
}
.searchButton {
	border: 0;
	background: url(../images/search_button.png) no-repeat 0 -34px;
	width: 21px;
	height: 17px;
}
#productSearchForm {
	float: right;
}
div.result {
	max-width: 960px;
}
div.result li {
	width: 206px;
	line-height: 20px;
	float: left;
	overflow: hidden;
	margin-left: 50px;
	margin-bottom: 50px;
}
.container{
	max-width: 1680px;
	min-width: 720px;
	margin-left: 350px;
	padding-top: 50px;
}

#main { margin-left: 220px; min-height:680px; }
.mainMenu {
  position: absolute;
  height: 100%;
  width: 300px;
  top: 0px;
  left: 0px;
  text-align: left;
  min-height: 770px;
  z-index: 5;
}
.bottomFix .mainMenu {position: fixed;bottom:0px;top:auto;}
.mainMenu .logo {
  margin-top: 55px;
  margin-left: 60px;
  height: 31px;
  width:154px;
  background:  url('../images/logo.png') ;
  background-size: cover;
}
.mainMenu .logo img {
  height: 31px;
}
.mainMenu .items {
  list-style-type: none;
  padding-left: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: 30px;
}
.mainMenu .items li, .mainMenu .items li a {
  margin-top: 10px;
  /*color:#000;*/
}/*
.mainMenu .items li:hover, */.mainMenu .items li:hover a:hover {
	color:#eee;
}
.mainMenu .items .subItems li, .mainMenu .items .subItems li a{ margin-top: 0px; }
.mainMenu .items li.shown {
}
.mainMenu .items li.current span {
	background-color: #000;
	color: #FFF;
	padding: 1px 3px 1px 5px;
	width: 88%;
	display: inline-block;
}
.mainMenu .items li:hover {
  cursor: pointer;
}
.mainMenu .items li.shown .subItems{
	display:block;
}
.mainMenu .items .subItems {
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0px;
  display: none;
}
.mainMenu .items .subItems li {
  margin-top: 5px;
  color:#000;
  letter-spacing: 0.5px;
  text-transform: none;
  font-size: 10px;
  /*text-indent: 3px;*/
  line-height: 15px;
}
.l4items {
	text-indent: 12px;
}
.mainMenu .items li.current span.inner {
	text-decoration: none;
	background-color: #FFF;
	color: #000;
	padding: 0;
}

.mainMenu .items .subItems>li:hover,
.mainMenu .items .subItems>li:hover>a,
.mainMenu .items .subItems>li.on>a,
.mainMenu .items .subItems li.on span.inner,
.floatMenu .items li.on>a{
	color:#eee;
}
.mainMenu .items li.campaignName { cursor: default; }
.mainMenu .items li.campaignName:hover { color:#000; }
.mainMenu .items .subItems li.bold {
  font-weight: bold;
}
.mainMenu .bottom {
  position: absolute;
  width:220px;
  bottom: 50px;
  left:0px;
  text-align:center;
}
.mainMenu .bottom .video{
	display:none;
}
.floatMenu{
  height: 100%;
  width: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-right: #CCC 1px solid;
  text-transform: uppercase;
  min-height: 720px;
  padding-top: 0;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /*IE8*/
  filter:alpha(opacity=90);  /*IE5?E5.5?E6?E7*/
  opacity: .9;  /*Opera9.0+?irefox1.5+?afari?hrome*/
  background: url('../images/translucent.gif') repeat\9;
  z-index: 4;
}
:root .floatMenu { filter:none; }
.bottomFix .floatMenu {position:fixed;bottom:0px;top:auto}
.bottom .moco{width:110px}
.floatMenu .items{
  list-style-type: none;
  padding-left: 0px;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 10px;
  overflow: auto;
  outline: none;
  height: 70%;
}
.floatMenu .items li{
  margin-top: 10px;
  width: 100%;
}
.floatMenu .subItems{
  list-style-type: none;
  -webkit-padding-start: 0px;
}
.floatMenu .subItems li a{
  margin-right: 40px\9;
}
.floatMenu .title{
  margin-top: 80px;
  display: block;
}

.footer {
  z-index: 103;
  position: fixed;
  /*border: #CCC 1px solid;*/
  text-transform: uppercase;
  background-color: #F7F7F7;
  height: 30px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /*IE8*/
  filter:alpha(opacity=90);  /*IE5?E5.5?E6?E7*/
  opacity: .9;  /*Opera9.0+?irefox1.5+?afari?hrome*/
  background: url('../images/translucent.gif') repeat\9;
}
.footer .share {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 4;
  float: left;
  margin-top: 4px;
  margin-left: 12px;
  left: 50px;
/*   width: 156px; */
  height: 18px;
/*   background:url('../images/icons.png'); */
/*   background-size:cover; */
}

.footer .share .weibo {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 4;
  float: left;
  margin-top: 4px;
  /* margin-left: 12px;
  left: 50px; */
  width: 22px;
  height: 18px;
  background-image:url('../images/icons.png');
  background-size:cover;
}

.footer .share .wechat {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 4;
  float: left;
  margin-top: 4px;
  /* margin-left: 12px;
  left: 50px; */
  width: 22px;
  height: 18px;
  background-image:url('../images/icons.png');
  background-size:cover;
  background-position: -32px 0;
}

.footer .share .video {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 4;
  float: left;
  margin-top: 4px;
  /* margin-left: 12px;
  left: 50px; */
  width: 22px;
  height: 18px;
  background-image:url('../images/icons.png');
  background-size:cover;
  background-position: -64px 0;
}

.footer .share .apps {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 4;
  float: left;
  margin-top: 4px;
  /* margin-left: 12px;
  left: 50px; */
  width: 40px;
  height: 18px;
  background-image:url('../images/icons.png');
  background-size:cover;
   background-position: -90px 0;
}

.footer .share .email {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  z-index: 4;
  float: left;
  margin-top: 4px;
  /* margin-left: 12px;
  left: 50px; */
  width: 22px;
  height: 18px;
  background-image:url('../images/icons.png');
  background-size:cover;
  background-position: 22px 0;
}

.footer .share .hrMenu {
  display: inline-block;
  background-color: #FFF;
  padding-left: 40px;
  position: relative;
  font-size: 10pt;
  margin: 4px;
  left: 5px;
  top: 0px;
  z-index: 1;
}
.footer .share .hrMenu li {
  font-family: arial, 'Lekton', "\9ED1\4F53", "微軟正黑體", sans-serif;
  display: inline;
  list-style-type: none;
  padding-right: 15px;
  letter-spacing:0.3px;
  font-size: 10px;
}
.footer .copyright {
  top: 0px;
  right: 0;
  margin: 8px;
  margin-right: 20px;
  position: absolute;
  color: #9c9e9f;
  font-size: 10px;
  font-family: arial, 'Lekton', "\9ED1\4F53", "微軟正黑體", sans-serif;
  /*font-family: 'Lekton', sans-serif;*/
  /*letter-spacing: -1px;*/
  z-index: 3;
}
.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 220px;
  z-index: -1;
  display: none;
}
.mask.show{
  z-index: 100;
  display: block;
}
.loader{
	background-image:url('../images/loading.gif');
	background-repeat:no-repeat;
	position: absolute;
	top: 45%;
	left: 55%;
	width: 16px;
	height: 16px;
	z-index: 3;
}
.share *{
    float: left;
    margin: 5px;
}
.share img{ cursor: pointer }
.share .text{
    height: 16px;
    margin-right: 0px;
    letter-spacing: 0px;
}
.hidden{ visibility:hidden; }
.dividingLine{ width:20px;height:1px;border:none;background-color:#000 }/*
@media screen and (max-height: 700px){
	.mainMenu { position: absolute; }
}*/
::selection {
	background-color: rgba(83, 83, 83, 0.97);
	color: #FFF;
}
.play{
	width: 40%;
	position: absolute;
	top: 10%;
	left: 30%;
}

#component{
	cursor: pointer;
	width: 55px;
	float: left;
	text-align: center;
}
#itxWhiteOverlay{
	zoom: 1;
	opacity: 0.8;
	-moz-opacity: 0.8;
	_filter: alpha(opacity = 80);
	filter: alpha(opacity = 80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/*IE8*/
	background: url('../images/translucent.gif') repeat\9 #999999;
	height: 100%;
	z-index: 700;
	position: fixed;
	left: 330px;
	width: 1050px;
	display: none;
	background: white;
}
#popup-composition {
	top: 250px;
	left: 900px;
	width: 289px;
	position: absolute;
	z-index: 800;
	margin-right: 0px;
	min-width: 260px;
	display: none
}

#popup-composition ul {
	margin-bottom: 25px
}

#popup-composition .section,#popup-delivery .section,#popup-returns .section{
	margin: 0 0 15px
}

#popup-composition .section .titleSection,#popup-composition .section h3,#popup-delivery .section .titleSection,#popup-delivery .section h3,#popup-returns .section .titleSection,#popup-returns .section h3
{
	font-weight: bold;
	font-size:12px;
	text-transform: uppercase;
	margin-bottom: 5px
}

#popup-composition .section p,#popup-delivery .section p,#popup-returns .section p
{
	margin-bottom: .5em
}

#popup-composition .list-cares {
	margin-bottom: 0
}

#popup-composition .list-cares li {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	margin-right: 15px;
	position: relative
}

#popup-composition .list-cares li i {
	cursor: pointer
}

#popup-composition .list-cares li .note {
	border: 1px solid #000;
	padding: 7px 10px;
	position: absolute;
	left: 0;
	bottom: 30px;
	display: none;
	background: #fff;
	z-index: 1;
	min-width: 50px
}

#popup-composition .list-cares li:hover .note {
	display: block
}

.popup {
	border: 1px solid #DDD;
	padding: 20px 30px 30px;
	position: absolute;
	background-color: #FFF;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,
		endColorstr=#80FFFFFF);
	zoom: 1;
	vertical-align: top;
	width: 100%;
	z-index: 1
}

.popup .popup-header h1 {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 10px 20px 0
}

.popup .popup-header .close {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 15px;
	text-align: right;
	padding: 10px
}

.icon-close {
	background-position: -13px -73px;
	height: 11px;
	width: 10px;
	margin: 0 3px
}

i,.icon {
	background-image: url("../images/sprite_icon.png")
}

i,.icon {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline
}

#popup-composition .list-cares li .note {
	border: 1px solid #000;
	padding: 7px 10px;
	position: absolute;
	left: 0;
	bottom: 30px;
	display: none;
	background: #fff;
	z-index: 1;
	min-width: 50px
}

.clickToolTip{
	font-size: 10px;
}

.icon-arrow-down-color {
	background-position: 0 -13px;
	height: 4px;
	width: 5px;
	margin: 0 3px
}

.icon-arrow-down {
	background-position: -5px -13px;
	height: 7px;
	width: 8px;
	margin: 0 3px
}

.icon-arrow-left-disabled {
	background-position: 0 -23px;
	height: 8px;
	width: 7px;
	margin: 0 3px
}

.icon-arrow-left-white {
	background-position: 0 0;
	height: 8px;
	width: 7px;
	margin: 0 3px
}

.icon-arrow-left {
	background-position: -7px 0;
	height: 8px;
	width: 7px;
	margin: 0 3px
}

.icon-arrow-left:hover {
	background-position: 0 -86px
}

.icon-arrow-right-disabled {
	background-position: -14px 0;
	height: 8px;
	width: 7px;
	margin: 0 3px
}

.icon-arrow-right {
	background-position: 0 -99px;
	height: 8px;
	width: 7px;
	margin: 0 3px
}

.icon-arrow-right:hover {
	background-position: -13px -13px
}

.icon-backsoon {
	background-position: -20px -13px;
	height: 10px;
	width: 13px;
	margin: 0 3px
}

.icon-backsoon:hover {
	background-position: 0 -73px
}

.icon-cares-1 {
	background-position: -20px -536px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-10 {
	background-position: 0 -536px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-11 {
	background-position: 0 -556px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-12 {
	background-position: -20px -516px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-13 {
	background-position: -20px -496px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-14 {
	background-position: -20px -476px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-16 {
	background-position: -20px -456px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-17 {
	background-position: 0 -456px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-18 {
	background-position: 0 -476px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-19 {
	background-position: -20px -436px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-2 {
	background-position: -20px -416px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-20 {
	background-position: 0 -416px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-25 {
	background-position: 0 -436px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-26 {
	background-position: -20px -396px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-27 {
	background-position: -20px -376px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-28 {
	background-position: 0 -376px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-29 {
	background-position: -17px -176px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-3 {
	background-position: -20px -356px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-30 {
	background-position: -20px -336px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-31 {
	background-position: 0 -336px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-32 {
	background-position: 0 -356px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-33 {
	background-position: -17px -196px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-34 {
	background-position: 0 -516px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-35 {
	background-position: 0 -496px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-36 {
	background-position: 0 -396px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-37 {
	background-position: -20px -556px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-38 {
	background-position: 0 -236px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-4 {
	background-position: 0 -216px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-5 {
	background-position: -20px -216px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-51 {
	background-position: -20px -236px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-52 {
	background-position: 0 -276px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-53 {
	background-position: 0 -256px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-54 {
	background-position: -20px -256px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-55 {
	background-position: -20px -276px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-6 {
	background-position: 0 -316px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-7 {
	background-position: 0 -296px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-8 {
	background-position: -20px -296px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cares-9 {
	background-position: -20px -316px;
	height: 20px;
	width: 20px;
	margin: 0 3px
}

.icon-cart {
	background-position: -21px 0;
	height: 13px;
	width: 13px;
	margin: 0 3px
}

.icon-close {
	background-position: -13px -73px;
	height: 11px;
	width: 10px;
	margin: 0 3px
}

.icon-facebook {
	background-position: -7px -86px;
	height: 13px;
	width: 13px;
	margin: 0 3px
}

.icon-facebook:hover {
	background-position: -20px -99px
}

.icon-leyend-backsoon {
	background-position: -33px -13px;
	height: 10px;
	width: 13px;
	margin: 0 3px
}

.icon-line-menu-divider {
	background-position: 0 -158px;
	height: 5px;
	width: 27px;
	margin: 0 3px
}

.icon-mail {
	background-position: -23px -73px;
	height: 13px;
	width: 15px;
	margin: 0 3px
}

.icon-mail:hover {
	background-position: -24px -23px
}

.icon-open-menu {
	background-position: -17px -112px;
	height: 16px;
	width: 16px;
	margin: 0 3px
}

.icon-pinterest {
	background-position: 0 -36px;
	height: 12px;
	width: 49px;
	margin: 0 3px
}

.icon-pinterest:hover {
	background-position: 0 -48px
}

.icon-print {
	background-position: 0 -112px;
	height: 13px;
	width: 17px;
	margin: 0 3px
}

.icon-print:hover {
	background-position: -7px -23px
}

.icon-share {
	background-position: 0 -143px;
	height: 15px;
	width: 43px;
	margin: 0 3px
}

.icon-sinaweibo {
	background-position: 0 -60px;
	height: 13px;
	width: 43px;
	margin: 0 3px
}

.icon-size-guide {
	background-position: -33px -112px;
	height: 16px;
	width: 16px;
	margin: 0 3px
}

.icon-support-land-phone {
	background-position: 0 -196px;
	height: 18px;
	width: 17px;
	margin: 0 3px
}

.icon-support-mobile {
	background-position: 0 -176px;
	height: 18px;
	width: 17px;
	margin: 0 3px
}

.icon-twitter {
	background-position: -33px -99px;
	height: 13px;
	width: 13px;
	margin: 0 3px
}

.icon-twitter:hover {
	background-position: -33px -86px
}

.icon-video {
	background-position: 0 -128px;
	height: 15px;
	width: 43px;
	margin: 0 3px
}

.icon-vk {
	background-position: -20px -86px;
	height: 13px;
	width: 13px;
	margin: 0 3px
}

.icon-vk:hover {
	background-position: -7px -99px
}

.icon-world {
	background-position: -27px -158px;
	height: 18px;
	width: 18px;
	margin: 0 3px
}

#popup-composition h2,#popup-delivery h2,#popup-returns h2 {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 10px 20px 0
}

.zonasPrenda{
	font-size: 12px;
}
.contactustext{
	width: 340px;
	margin-left:200px;
	border: 1px solid;
	}
.contactustext2{
	width: 340px;
	border: 1px solid;
}
.contactusdiv{
	max-width: 1680px;
	min-width: 720px;
	margin-left: 200px;
	padding-top: 100px;
}
.contactusdiv2{
	margin:0 auto;
	border-bottom:1px solid #000; 
	text-align: center; 
	width:780px;
}
.contactuscheckbox{
	margin-left:200px;
}
.contactusdiv3{
	text-align: center;
}
.contactusspan{
	font-size: 12px;
	text-align: center;
}
.contactustextarea{
	width: 726px;
	 height: 180px;
	 resize: none;
	 margin-left:200px;
	 border: 1px solid;
}
.contactusbutton{
	margin-left:200px;
	width: 130px;
	height:25px; 
	color: white;
    background-color:black;
    border-style :none;
}
.subscribeemaildiv{
	max-width: 1680px;
	min-width: 720px;
	margin-left: 200px;
	padding-top: 100px;
}
.subscribeemaildiv2{
	line-height: 180%; 
	size: 0.5px; 
	padding: 0px 5px 0px 0px; 
	font-size: 12px;
}
.subscribeeamildiv3{
	text-align: center; 
	margin: 0px 150px 0px 250px; 
	border-bottom:1px solid #000;
}
.subscribeemailspan{
	font-size: 16px;
}
.subscribeemaildiv4{
	margin: 0px 150px 0px 250px;
	border-bottom:1px solid #000;
}
.subscribeemailtext{
	width:220px;
	height:21px;
}
.subscribeemailstrong{
	font-size: 13px;
}
.subscribeemailbutton{
	color: white; 
	background-color: black; 
	width: 130px;
	height:25px; 
	float: right;
	border-style :none;
}
.downloadtop{
		text-align: center;
		border-bottom: 1px solid #000;
		width:780px;
		margin: 0 auto;
		padding:10px;
	}
	.downloadspan{
		font-size:18px;
	}
	.downloadpicdiv{
		text-align:center;
		margin-top:20px;
		margin-bottom: 10px;
	}
	.downloadAndroid{
		margin:right:200px;
		font-size:12px;
	}
	.downloadMac{
		margin-left:200px;
		font-size:12px;
	}
	.downloadimage{
		width:300px
	}
	.downloadspanandroid{
		margin:right:200px;
		font-size:12px;
	}
	.downloadspanmac{
		margin-left:200px;
		font-size:12px;
	}
.registerdiv {
    position: fixed; /* 绝对位置，IE6不支持 */
   	left: 450px;
   	top: 150px;
   	width: 600px;
   	height: 350px;
    font-size:12px;
    border:1px solid #000;
	background-color:White;
	display:none;
	z-index:1002; 		
   }
.registertext{
   	width:100px;
   }
.closediv{
	position:fixed;
	width:15px;
	height:15px;
	left: 1035px;
	top: 155px;
	background-image:url('../images/closediv.png');
    background-size:cover;
    cursor:pointer;
}
a{
	cursor: pointer;
}
.signindiv{
		position: fixed; /* 绝对位置，IE6不支持 */
		left: 450px;
		top: 150px;
		width: 600px;
		font-size:12px;
		height: 350px;
		border:1px solid #000;
		background-color:White;
		display:none;
		font-weight:600;
		z-index:1001; 
}
.content_left{
		float:left;
		width: 250px;
		margin-top: 10px;
		padding-left:40px;
   }
.content_right{
		float:left;
		width: 270px;
		margin-top: 10px;
		padding-left:40px;
}
.title{
		font-size:18px;
		font-weight:bold;
		border-bottom: 1px solid #000;
		padding: 10px 20px 10px 0;
		width: 500px;
		margin: 10px auto;
}
.span0{
		font-weight: bold;
		font-size: 13px;
   }
.radiobtn span{
   font-weight:bold;
}
 #signinregister,#signinlogin{
   width:210px;
   height:30px;
   background-color:black;
   color:white;
   font-weight:bold;
   margin-top:10px;
   }

#registerOKdiv {
     position: fixed; /* 绝对位置，IE6不支持 */
   	 left: 450px;
   	 top: 150px;
   	 width: 600px;
   	 height: 370px;
    font-size:12px;
    border:1px solid #000;
	background-color:White;
	display:none;
	font-weight:600;
	z-index:1003; 
}
#findpassworddiv {
    position: fixed; /* 绝对位置，IE6不支持 */
   	left: 450px;
   	top: 150px;
   	width: 600px;
   	height: 350px;
    font-size:12px;
    border:1px solid #000;
	background-color:White;
	display:none;
	z-index:1004; 		
   }
  .signintext{
  	width:210px;
  	height:20px;
  }
  .signinforgotpassword{
  	border-bottom:1px solid #999;
  }
  .registerdiv2{
  	border-bottom:1px solid #000;
  	padding:10px 20px 10px 0; 
  	width:500px;
  	margin:10px auto;
  }
 .registerspan1{
 	font-size:18px;
 }
 .registerdiv3{
 	width:500px;
 	margin:10px auto;
 }
 .registerdiv4{
 	padding-top:10px;
 }
 .registersubmit{
 	color: white; 
 	background-color: black; 
 	width: 130px;
 	height:25px; 
 	float: right;
 	border-style :none;
 }
 .registerOKdiv1{
 	border-bottom:1px solid #000; 
 	padding:0px 20px 10px 0; 
 	width:500px;
 	margin:10px auto;
 }
 .registerOKspan1{
 	font-size:10px;
 	line-height:100%;
 }
 .registerOKsubmit1{
 	color: white; 
 	background-color: black; 
 	width: 70px;
 	height:25px; 
	border-style :none;
 }
 .registerOKspan2{
	font-size:10px;
	color:#999999;
}
.registerOKdiv2{
	width:500px;
	margin:10px auto;
	font-size:10px;
	color:#999999;
	line-height:100%;
}
.findpassworddiv1{
	border-bottom:1px solid #999; 
	padding:20px 20px 10px 0; 
	width:500px;
	margin:10px auto;
}
.findpasswordselect{
	width:60px;
}
.findpasswordspan1{
	font-size:10px;
}
.findpassworddiv2{
	width:500px;
	margin:10px auto;
	font-weight:bold;
}
.findpasswordtext{
	width:180px;
	height:20px;
}
.signindiv5{
	margin:10px auto;
}
input[type=radio].css-checkbox {
               display:none;
      }

 input[type=radio].css-checkbox + label.css-label {
    padding-left:23px;
 	height:18px; 
 	display:inline-block;
 	line-height:18px;
	background-repeat:no-repeat;
	background-position: 0 0;
    cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -18px;
 }
label.css-label {
  background-image:url('../images/checkbox.png');
  font-size:12px;
}
